.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.item {
  background-color: rgb(255, 229, 205);
  max-width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
.item:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px 3px #464646;
}
